In [1]:
#  extra credit: make the function python 2 and 3 compatible so that it works on the PUI2016_Python3 kernel
SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q='

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError
    
import ast
import pandas as pd

In [2]:
def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urlencode({'format': format, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

# SQL CARTO QUERY FUNCTION

In [3]:
test = '''
SELECT *
FROM fb55.citibike
'''

In [4]:
pd.read_csv(io(queryCartoDB(test)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
6,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
7,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
8,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
9,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1
10,NaN,1 Ave & E 44 St,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,10867,40.750020,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1
11,NaN,W 45 St & 6 Ave,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,11300,40.756800,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1
12,NaN,W 18 St & 6 Ave,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,12114,40.739713,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1
13,NaN,E 58 St & 3 Ave,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,12152,40.760958,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1
14,NaN,E 33 St & 5 Ave,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,12500,40.747659,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1
15,NaN,W 31 St & 7 Ave,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,13183,40.749156,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2
16,NaN,5 Ave & E 29 St,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,13312,40.745168,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1
17,NaN,E 39 St & 2 Ave,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,13702,40.747804,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1
18,NaN,10 Ave & W 28 St,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,14172,40.750664,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2
19,NaN,W 42 St & 8 Ave,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,14384,40.757570,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1
20,NaN,E 27 St & 1 Ave,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,15113,40.739445,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2
21,NaN,Great Jones St,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,15625,40.727434,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1
22,NaN,W 49 St & 8 Ave,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,16481,40.762272,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2
23,NaN,Broadway & W 24 St,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,16527,40.742354,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1
24,NaN,E 40 St & 5 Ave,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,18880,40.752062,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1
25,NaN,E 16 St & 5 Ave,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,19177,40.737262,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1
26,NaN,Broadway & W 36 St,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,20425,40.750977,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2
27,NaN,8 Ave & W 31 St,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,21228,40.750450,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1
28,NaN,W 45 St & 6 Ave,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,23298,40.756800,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1
29,NaN,FDR Drive & E 35 St,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,23353,40.744219,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
46171,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
46172,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
46173,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
46174,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
46175,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
46176,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
46177,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
46178,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
46179,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
46180,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
46181,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
46182,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
46183,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
46184,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
46185,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
46186,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
46187,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
46188,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
46189,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
46190,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
46191,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
46192,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
46193,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
46194,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
46195,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
46196,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
46197,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
46198,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
46199,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

# Task 1 — Familiarize with SQL Clauses

In [5]:
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep=',')
    except ValueError as v:
        print (str(v))

In [6]:
query = '''SELECT * FROM fb55.citibike; '''
table = get_data(query)
table.head(5)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0

In [7]:
# Sort data by start_station_id, tripduration
# Only checking trips with duration <= 3 hours
# Only show the top/last 10 records (aka head and tail in SQL)

# sort by start_station_id
query = '''SELECT * FROM fb55.citibike
WHERE tripduration <= 3 * 360
ORDER BY start_station_id DESC
limit 10
'''
table = get_data(query)
table.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,South End Ave & Liberty St,NaN,2795,-74.015756,751,2015-02-01 13:55:00+00,2015-02-01 14:08:00+00,3002,2727,40.711512,127,Barrow St & Hudson St,40.731724,-74.006744,18386,Subscriber,1967.0,2
1,NaN,South End Ave & Liberty St,NaN,3366,-74.015756,293,2015-02-01 14:51:00+00,2015-02-01 14:56:00+00,3002,3298,40.711512,264,Maiden Ln & Pearl St,40.707065,-74.007319,19951,Subscriber,1990.0,1
2,NaN,South End Ave & Liberty St,NaN,2271,-74.015756,790,2015-02-01 13:01:00+00,2015-02-01 13:14:00+00,3002,2205,40.711512,368,Carmine St & 6 Ave,40.730386,-74.002150,17004,Subscriber,1979.0,1
3,NaN,South End Ave & Liberty St,NaN,1932,-74.015756,689,2015-02-01 12:25:00+00,2015-02-01 12:36:00+00,3002,1863,40.711512,358,Christopher St & Greenwich St,40.732916,-74.007114,19309,Subscriber,1996.0,1
4,NaN,South End Ave & Liberty St,NaN,361,-74.015756,301,2015-02-01 07:49:00+00,2015-02-01 07:54:00+00,3002,293,40.711512,417,Barclay St & Church St,40.712912,-74.010202,19484,Subscriber,1980.0,2
5,NaN,South End Ave & Liberty St,NaN,1698,-74.015756,745,2015-02-01 11:57:00+00,2015-02-01 12:09:00+00,3002,1628,40.711512,369,Washington Pl & 6 Ave,40.732241,-74.000264,20901,Subscriber,1980.0,1
6,NaN,South End Ave & Liberty St,NaN,2094,-74.015756,307,2015-02-01 12:42:00+00,2015-02-01 12:47:00+00,3002,2026,40.711512,147,Greenwich St & Warren St,40.715422,-74.011220,18386,Subscriber,1984.0,2
7,NaN,South End Ave & Liberty St,NaN,1542,-74.015756,683,2015-02-01 11:43:00+00,2015-02-01 11:55:00+00,3002,1472,40.711512,308,St James Pl & Oliver St,40.713079,-73.998512,16987,Subscriber,1980.0,2
8,NaN,South End Ave & Liberty St,NaN,1657,-74.015756,858,2015-02-01 11:53:00+00,2015-02-01 12:07:00+00,3002,1587,40.711512,355,Bayard St & Baxter St,40.716021,-73.999744,15748,Subscriber,1959.0,1
9,NaN,South End Ave & Liberty St,NaN,3411,-74.015756,705,2015-02-01 14:56:00+00,2015-02-01 15:08:00+00,3002,3343,40.711512,328,Watts St & Greenwich St,40.724055,-74.009660,17899,Customer,NaN,0

In [8]:
# sort by tripduration
query = '''
SELECT * FROM fb55.citibike
WHERE tripduration <= 3 * 360
ORDER by tripduration DESC
LIMIT 10;
'''
table = get_data(query)
table.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 18 St & 6 Ave,NaN,11827,-73.994564,1080,2015-02-03 19:18:00+00,2015-02-03 19:36:00+00,168,11766,40.739713,250,Lafayette St & Jersey St,40.724561,-73.995653,14636,Subscriber,1978,2
1,NaN,E 27 St & 1 Ave,NaN,15250,-73.976806,1080,2015-02-04 10:27:00+00,2015-02-04 10:45:00+00,2012,15206,40.739445,2022,E 59 St & Sutton Pl,40.758491,-73.959206,20774,Subscriber,1982,1
2,NaN,Lafayette St & Jersey St,NaN,9703,-73.995653,1080,2015-02-03 13:55:00+00,2015-02-03 14:13:00+00,250,9644,40.724561,369,Washington Pl & 6 Ave,40.732241,-74.000264,21466,Subscriber,1984,1
3,NaN,Madison St & Clinton St,NaN,9862,-73.987763,1080,2015-02-03 14:38:00+00,2015-02-03 14:56:00+00,340,9803,40.712690,147,Greenwich St & Warren St,40.715422,-74.011220,16219,Subscriber,1981,1
4,NaN,Broadway & W 49 St,NaN,5450,-73.984427,1080,2015-02-01 18:19:00+00,2015-02-01 18:37:00+00,173,5384,40.760647,435,W 21 St & 6 Ave,40.741740,-73.994156,16407,Subscriber,1970,2
5,NaN,E 52 St & 2 Ave,NaN,5126,-73.967416,1080,2015-02-01 17:48:00+00,2015-02-01 18:06:00+00,441,5059,40.756014,485,W 37 St & 5 Ave,40.750380,-73.983390,19244,Subscriber,1968,1
6,NaN,MacDougal St & Washington Sq,NaN,1562,-73.998522,1080,2015-02-01 11:45:00+00,2015-02-01 12:03:00+00,252,1492,40.732264,293,Lafayette St & E 8 St,40.730287,-73.990765,20310,Subscriber,1993,1
7,NaN,Leonard St & Church St,NaN,5961,-74.005549,1080,2015-02-01 20:11:00+00,2015-02-01 20:29:00+00,320,5895,40.717571,334,W 20 St & 7 Ave,40.742388,-73.997262,18982,Subscriber,1979,1
8,NaN,6 Ave & W 33 St,NaN,7752,-73.988484,1080,2015-02-02 19:57:00+00,2015-02-02 20:15:00+00,505,7685,40.749013,305,E 58 St & 3 Ave,40.760958,-73.967245,17199,Subscriber,1984,1
9,NaN,MacDougal St & Prince St,NaN,21450,-74.002971,1080,2015-02-04 22:37:00+00,2015-02-04 22:55:00+00,128,21394,40.727103,477,W 41 St & 8 Ave,40.756405,-73.990026,21173,Subscriber,1971,1

In [9]:
#sort by start_station_id and tripduration
query = '''
SELECT * FROM fb55.citibike
ORDER BY start_station_id ASC, tripduration DESC
LIMIT 10;
'''
table = get_data(query)
table.head(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9115,-73.993929,2099,2015-02-03 10:28:00+00,2015-02-03 11:02:00+00,72,9054,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,18653,Subscriber,1966.0,2
1,NaN,W 52 St & 11 Ave,NaN,2051,-73.993929,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,1983,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
2,NaN,W 52 St & 11 Ave,NaN,40355,-73.993929,1914,2015-02-07 09:49:00+00,2015-02-07 10:21:00+00,72,40341,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,21520,Subscriber,1966.0,2
3,NaN,W 52 St & 11 Ave,NaN,12996,-73.993929,1801,2015-02-04 06:32:00+00,2015-02-04 07:02:00+00,72,12938,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,15161,Subscriber,1959.0,2
4,NaN,W 52 St & 11 Ave,NaN,11359,-73.993929,1678,2015-02-03 18:21:00+00,2015-02-03 18:49:00+00,72,11298,40.767272,79,Franklin St & W Broadway,40.719116,-74.006667,21500,Subscriber,1964.0,1
5,NaN,W 52 St & 11 Ave,NaN,13695,-73.993929,1537,2015-02-04 08:07:00+00,2015-02-04 08:33:00+00,72,13647,40.767272,487,E 20 St & FDR Drive,40.733143,-73.975739,18900,Subscriber,1977.0,2
6,NaN,W 52 St & 11 Ave,NaN,9802,-73.993929,1535,2015-02-03 14:23:00+00,2015-02-03 14:48:00+00,72,9742,40.767272,334,W 20 St & 7 Ave,40.742388,-73.997262,15117,Subscriber,1956.0,2
7,NaN,W 52 St & 11 Ave,NaN,11301,-73.993929,1518,2015-02-03 18:16:00+00,2015-02-03 18:42:00+00,72,11240,40.767272,476,E 31 St & 3 Ave,40.743943,-73.979661,19039,Subscriber,1971.0,1
8,NaN,W 52 St & 11 Ave,NaN,20364,-73.993929,1493,2015-02-04 19:47:00+00,2015-02-04 20:12:00+00,72,20309,40.767272,79,Franklin St & W Broadway,40.719116,-74.006667,21080,Subscriber,1964.0,1
9,NaN,W 52 St & 11 Ave,NaN,24990,-73.993929,1388,2015-02-05 10:34:00+00,2015-02-05 10:58:00+00,72,24953,40.767272,127,Barrow St & Hudson St,40.731724,-74.006744,19672,Subscriber,1974.0,1

In [10]:
#only show last 10
query = '''SELECT * FROM fb55.citibike
ORDER BY start_station_id ASC, tripduration DESC
LIMIT 10;
'''
table = get_data(query)
table.tail(10)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9115,-73.993929,2099,2015-02-03 10:28:00+00,2015-02-03 11:02:00+00,72,9054,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,18653,Subscriber,1966.0,2
1,NaN,W 52 St & 11 Ave,NaN,2051,-73.993929,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,1983,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
2,NaN,W 52 St & 11 Ave,NaN,40355,-73.993929,1914,2015-02-07 09:49:00+00,2015-02-07 10:21:00+00,72,40341,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,21520,Subscriber,1966.0,2
3,NaN,W 52 St & 11 Ave,NaN,12996,-73.993929,1801,2015-02-04 06:32:00+00,2015-02-04 07:02:00+00,72,12938,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,15161,Subscriber,1959.0,2
4,NaN,W 52 St & 11 Ave,NaN,11359,-73.993929,1678,2015-02-03 18:21:00+00,2015-02-03 18:49:00+00,72,11298,40.767272,79,Franklin St & W Broadway,40.719116,-74.006667,21500,Subscriber,1964.0,1
5,NaN,W 52 St & 11 Ave,NaN,13695,-73.993929,1537,2015-02-04 08:07:00+00,2015-02-04 08:33:00+00,72,13647,40.767272,487,E 20 St & FDR Drive,40.733143,-73.975739,18900,Subscriber,1977.0,2
6,NaN,W 52 St & 11 Ave,NaN,9802,-73.993929,1535,2015-02-03 14:23:00+00,2015-02-03 14:48:00+00,72,9742,40.767272,334,W 20 St & 7 Ave,40.742388,-73.997262,15117,Subscriber,1956.0,2
7,NaN,W 52 St & 11 Ave,NaN,11301,-73.993929,1518,2015-02-03 18:16:00+00,2015-02-03 18:42:00+00,72,11240,40.767272,476,E 31 St & 3 Ave,40.743943,-73.979661,19039,Subscriber,1971.0,1
8,NaN,W 52 St & 11 Ave,NaN,20364,-73.993929,1493,2015-02-04 19:47:00+00,2015-02-04 20:12:00+00,72,20309,40.767272,79,Franklin St & W Broadway,40.719116,-74.006667,21080,Subscriber,1964.0,1
9,NaN,W 52 St & 11 Ave,NaN,24990,-73.993929,1388,2015-02-05 10:34:00+00,2015-02-05 10:58:00+00,72,24953,40.767272,127,Barrow St & Hudson St,40.731724,-74.006744,19672,Subscriber,1974.0,1

In [11]:
#List all unique start_station_id values
dist_query = '''SELECT DISTINCT start_station_id FROM fb55.citibike
                WHERE tripduration <= 3 * 3600
                ORDER BY start_station_id; '''
dist_table = get_data(dist_query)
dist_table.head()

   start_station_id  Unnamed: 1
0                72         NaN
1                79         NaN
2                82         NaN
3                83         NaN
4               116         NaN

In [12]:
# • Aggregation functions:
# Count the number of trips (aka wc -l in SQL)
# Find the average/min/max trip duration

query = '''
SELECT count(start_station_id) as trip_count,
AVG(tripduration),
MIN(tripduration),
MAX(tripduration)
FROM fb55.citibike
'''
table = get_data(query)
table.head()

   trip_count         avg  min    max
0       46200  675.865823   60  43016

# Task 2 — Working with date/time

In [13]:
# Selecting trips started on Feb-02-2015 only
query = '''SELECT FROM fb55.citibike
WHERE starttime >= '2015-02-02 00:00' and starttime < '2015-02-03 00:00'
'''
tabel = get_data(query)
table.head(5)

No columns to parse from file

   trip_count         avg  min    max
0       46200  675.865823   60  43016

In [14]:
# Selecting trips started on the weekends
# What are average trip duration during weekends?
query = '''
SELECT avg(tripduration) as weekend_avg FROM fb55.citibike
WHERE extract(dow from starttime) in (0,6)
'''
table = get_data(query)
table.head()

   weekend_avg  Unnamed: 1
0   662.942181         NaN

In [15]:
# Can we do the same for weekday?
query = '''
SELECT avg(tripduration) as weekdat_avg FROM fb55.citibike
WHERE extract(dow from starttime) in (1,2,3,4,5)
'''
table = get_data(query)
table.head()

   weekdat_avg  Unnamed: 1
0   681.052292         NaN

# Task 3 — Working with Space

In [16]:
# Showing the list of start station locations(Using GROUP BY)
loc_query = '''SELECT start_station_name FROM fb55.citibike
                GROUP BY start_station_name; '''
loc_table = get_data(loc_query)
loc_table.head()

        start_station_name  Unnamed: 1
0     E 30 St & Park Ave S         NaN
1  Pearl St & Anchorage Pl         NaN
2          W 56 St & 6 Ave         NaN
3           West Thames St         NaN
4  Bank St & Washington St         NaN

In [17]:
# Showing the number of trips started per station
query = '''
SELECT count(start_station_id),
start_station_name
FROM fb55.citibike
GROUP BY start_station_id, start_station_name
'''
table = get_data(query)
table.head()

   count           start_station_name
0    123      Lispenard St & Broadway
1    218              W 22 St & 8 Ave
2    108   Madison St & Montgomery St
3    159      Centre St & Chambers St
4     13  Lafayette Ave & Classon Ave

In [18]:
# … but only for stations within 500m of Time Square!
# The coordinates of Time Square is (40.7577,-73.9857)
query = '''SELECT start_station_name, COUNT(bikeid) as trip_number FROM fb55.citibike
                WHERE (6371000 * acos(cos(radians(40.7577)) * cos(radians(start_station_latitude)) * cos(radians(start_station_longitude) - radians(-73.9857)) + sin(radians(40.7577)) * sin(radians(start_station_latitude)))) <= 500
                GROUP BY start_station_name; '''
table = get_data(query)
table

   start_station_name  trip_number
0     W 45 St & 8 Ave          141
1     W 42 St & 8 Ave          221
2  Broadway & W 49 St          213
3     W 43 St & 6 Ave          112
4     W 41 St & 8 Ave          507
5     W 45 St & 6 Ave          141
6  Broadway & W 41 St          251

# Task 4 — Putting it all together

In [19]:
# Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare
query = '''SELECT start_station_name, AVG(tripduration) as weekends_avg_tripduration FROM fb55.citibike
                WHERE EXTRACT(DOW FROM starttime::date) in (0, 6) AND (6371000 * acos(cos(radians(40.7577)) * cos(radians(start_station_latitude)) * cos(radians(start_station_longitude) - radians(-73.9857)) + sin(radians(40.7577)) * sin(radians(start_station_latitude)))) <= 500
                GROUP BY start_station_name
                ORDER BY weekends_avg_tripduration DESC
                LIMIT 1; '''
table = get_data(query)
table

   start_station_name  weekends_avg_tripduration
0  Broadway & W 49 St                1010.104167

# Extra: 
create lines for trips started from stations within 500m of Times
Squares and lasted less than 2 hours. The number of trips per each
pair of stations are output as attributes of these lines.

In [20]:
query = '''SELECT start_station_name, end_station_name, COUNT(bikeid) as trip_number
FROM fb55.citibike
WHERE tripduration < 7200
AND '''